source https://api.nuget.org/v3/index.json

framework: >= net471

nuget Castle.Core >= 4.1.1 redirects: on
nuget FluentAssertions ~>  4.14
nuget Fody >= 1.29.4 content: once
nuget Microsoft.Extensions.DependencyInjection.Abstractions
nuget Microsoft.Extensions.Logging
nuget Microsoft.Extensions.Logging.Abstractions
nuget Microsoft.Net.Http
nuget Moq >= 4.7.63
nuget msdn.4.5.2 0.1.0-alpha-1611021200
nuget NUnit ~> 3.4
nuget PropertyChanged.Fody >= 1.52.1 copy_local: false
nuget SemVer.Git.MSBuild >= 1.1.0 content:once
nuget System.Configuration.ConfigurationManager
nuget Viki.HttpMockSlim